<a href="https://colab.research.google.com/github/vasavagopalv7/Pythoncode_Example/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to reverse a number:

num = 12345
rev = 0
while num > 0:
 rev = rev * 10 + num % 10
 num = num // 10
print("Reversed:", rev)

Reversed: 54321

In [ ]:
#Factorial using recursion:
def factorial(n):
 if n == 0:
   return 1
 return n * factorial(n - 1)
print(factorial(5))

120

In [ ]:
#) Sum of two numbers using function:
def sum(a,b):
   return a+b
print(sum( 5,6))

11

In [ ]:
#Defining and calling a function:
def greet():
 print("Hello")
greet()

Hello

In [ ]:
#Inheritance example:
class Animal:
 def speak(self):
       print("Animal speaks")
class Dog(Animal):
 def bark(self):
    print("Dog barks")
d = Dog()
d.speak()
d.bark()

Animal speaks
Dog barks

In [ ]:
#  multiple inheritance and  method  overriding & polimorphisam & Encapsulation
class Birds:
  def speak(self):
    print("birds can speak")
class Parrot(Birds):
  def speak(self):
    print("Parrot can speak")

  def fly(self):
    print("Parrot can fly")
class Greenparot(Parrot):
  def red(self):
    print("chyanch is red")
p = Greenparot()
p.speak()
p.fly()
p.red()

Parrot can speak
Parrot can fly
chyanch is red

In [ ]:
# check string is palindrome or not
def str_rverse():
  str=input("Enter a string:")
  rev=str[::-1]
  if str==rev:
    print("Palindrome")
  else:
      print("Not a Palindrome")
      print(str)
  print(rev)
str_rverse()

Enter a string:sartik
Not a Palindrome
sartik
kitras

In [ ]:
class Bird:
 def intro(self):
  print("There are many types of birds")
 def flight(self):
  print("Most birds can fly")
class Parrot(Bird):
 def flight(self):
  print("Parrots can fly")
obj = Parrot()
obj.intro()
obj.flight()

There are many types of birds
Parrots can fly

In [ ]:
string="python"
for i in string :
  print(i)

p
y
t
h
o
n

In [ ]:
def is_even(i):
  if i%2==0:
    print("even")
  else:
    print("odd")
is_even(5)

odd

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
 if i > 5:
  print(i)

8
13
21
34
55
89

In [ ]:
class Number:
 def __init__(self, x):
  self.x = x
 def __add__(self, other):
  return self.x + other.x
n1 = Number(10)
n2 = Number(20)
print(n1 + n2)

30

In [ ]:
i = 1
count = 0
while count < 10:
    if i % 2 == 0:
        print(i, end=" ")
        count += 1
    i += 1

2 4 6 8 10 12 14 16 18 20

In [ ]:
a=[1,2,3,4,5]
rev=a[::-1]
print(rev)

copied=a.copy()
print(copied)

a.insert(2,99)
print(a)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [ ]:
count = 0
while count < 5:
 print(count)
 count +=1

0
1
2
3
4

In [ ]:
def calculator():
 num1 = float(input("Enter first number: "))
 num2 = float(input("Enter second number: "))
 operation = input("Enter operation (+, -, *, /): ")
 if operation == '+':
  print(f"{num1} + {num2} = {num1 + num2}")
 elif operation == '-':
  print(f"{num1} - {num2} = {num1 - num2}")
 elif operation == '*':
  print(f"{num1} * {num2} = {num1 * num2}")
 elif operation == '/':
   if num2 != 0:
    print(f"{num1} / {num2} = {num1 / num2}")
   else:
    print("Cannot divide by zero.")
 else:
   print("Invalid operation.")
calculator()

Enter first number: 2
Enter second number: 3
Enter operation (+, -, *, /): +
2.0 + 3.0 = 5.0

In [ ]:
def check_even_odd(n):
 if n % 2 == 0:
  return "Even"
 else:
  return "Odd"
def factorial(n):
 result = 1
 for i in range(1, n + 1):
  result *= i
 return result
# Testing
print("5 is", check_even_odd(5))
for i in range(1, 11):
 print(f"Factorial of {i}: {factorial(i)}")

5 is Odd
Factorial of 1: 1
Factorial of 2: 2
Factorial of 3: 6
Factorial of 4: 24
Factorial of 5: 120
Factorial of 6: 720
Factorial of 7: 5040
Factorial of 8: 40320
Factorial of 9: 362880
Factorial of 10: 3628800